.round-img{
  overflow: hidden;
  border-radius: 50%;
}
.height-240{
  height: 240px;
}


// Display Types
// ==========================================================================

.display-block{
  display: block;
}
.display-inline-block{
  display: inline-block;
}
.display-inline{
  display: inline;
}

.position-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
}
